.better-select,
.better-select input:first-child {
  position: relative;
  display: grid;
}

.value-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.chosen-value {
  position: relative;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #fafcfd;
  border: 3px solid #e8e8e8;
}
.chosen-value::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:hover {
  background-color: #ff908b;
  cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:focus,
.chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #ff908b;
  color: #000;
}
.chosen-value:focus::-webkit-input-placeholder,
.chosen-value.open::-webkit-input-placeholder {
  color: #000;
}

.none {
  visibility: hidden;
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}
.value-list.open {
  max-height: 320px;
  overflow: auto;
}
.value-list li {
  position: relative;
  background-color: #fafcfd;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  z-index: 9999999;
}
.value-list li:hover {
  background-color: #ff908b;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

.value-list li input {
  width: 100%;
}

.value-list li.selected {
  background-color: #ff908b;
  cursor: pointer;
}
